<div id="logo">
  {{ title }}
</div>

<div id="users-online">
  <div>
    <span>Who is online</span>
    <ul>
      <li *ngFor="let user of users">
        {{ user }}
      </li>
    </ul>
  </div>
</div>

<button id="clear-button" (click)="clearMessages()">Clear</button>

<div id="chat-box">
  <ul id="messages">
    <li *ngFor="let message of messages" [ngClass]="{'message': true, 'ownMessage': message.username == username}">
      {{ putMessage(message) }}
    </li>
  </ul>
</div>
<form action="" id="message-form">
  <input id="send-input" placeholder="press enter to send" [(ngModel)]="message" name="message" />
  <button (click)="sendMessage()">Send</button>
</form>

<footer>
  Łukasz Kuta &copy; 2017
</footer>
